<template>
    <v-badge bordered color="error" :content="count.toString()" overlap>
        <v-btn class="white--text" color="error" depressed>
            Sepetim
        </v-btn>
    </v-badge>
</template>
<script>
export default {
    name: 'badge',
    props: {
        count: {
            type: Number,
            default: function() {
                return 0;
            },
        },
    },
};
</script>
