<template>
    <v-row>
        <list-item v-for="item in items" :key="item.id" :item="item"></list-item>
    </v-row>
</template>
<script>
import ListItem from './../listItem/ListItem';
export default {
    name: 'List',
    components: {
        ListItem,
    },
    props: {
        items: {
            type: Array,
            default: function() {
                return [];
            },
        },
    },
};
</script>
