<template>
    <v-col xl="2" lg="3" md="4" sm="6" xs="12" class="custom-col">
        <v-card class="mx-auto pa-4 " max-width="300">
            <v-img class="mx-auto" :src="item.image" contain></v-img>
            <v-card-title class="justify-center pa-0 ma-0">{{ item.name }}</v-card-title>
            <v-card-actions class="ma-0 pa-0">
                <v-container class="action-container ma-0 pa-0">
                    <v-row align="center">
                        <v-col md="5"> {{ item.currency }} {{ item.price }} </v-col>
                        <template v-if="shoppingCardItem == null">
                            <v-col md="7">
                                <v-btn block @click="addItemToBasket" class="custom-button" small> Listeye Ekle </v-btn>
                            </v-col>
                        </template>
                        <template v-else>
                            <v-col md="7" class="pa-0 ma-0">
                                <counter @decrement="decrement" @increment="increment" :data="shoppingCardItem.amount" @keyup="inputChange"></counter>
                            </v-col>
                        </template>
                    </v-row>
                </v-container>
            </v-card-actions>
        </v-card>
    </v-col>
</template>
<script>
import Counter from './../counter/Counter';
export default {
    name: 'ListItem',
    props: {
        item: {
            type: Object,
            default: function() {
                return {};
            },
        },
    },
    components: {
        Counter,
    },
    computed: {
        shoppingCardItem() {
            return this.$store.getters.getBasket.find((x) => x.id == this.item.id);
        },
    },
    methods: {
        inputChange(data) {
            if (data !== 0) {
                this.$store.dispatch('updateItemInBasket', {
                    id: this.shoppingCardItem.id,
                    amount: data,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.shoppingCardItem.name + ' ürününden sepetinizde ' + this.shoppingCardItem.amount + ' adet kaldı.',
                    status: 'warning',
                });
            } else {
                this.$store.dispatch('removeItemInBasket', {
                    id: this.shoppingCardItem.id,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.shoppingCardItem.name + ' ürününden sepetinizde çıkarıldı.',
                    status: 'warning',
                });
            }
        },
        decrement() {
            if (this.shoppingCardItem.amount - 1 !== 0) {
                this.$store.dispatch('updateItemInBasket', {
                    id: this.shoppingCardItem.id,
                    amount: this.shoppingCardItem.amount - 1,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.shoppingCardItem.name + ' ürününden sepetinizde ' + this.shoppingCardItem.amount + ' adet kaldı.',
                    status: 'warning',
                });
            } else {
                this.$store.dispatch('removeItemInBasket', {
                    id: this.shoppingCardItem.id,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.shoppingCardItem.name + ' ürününden sepetinizde çıkarıldı.',
                    status: 'warning',
                });
            }
        },
        increment() {
            this.$store.dispatch('updateItemInBasket', {
                id: this.shoppingCardItem.id,
                amount: this.shoppingCardItem.amount + 1,
            });
            this.$store.dispatch('changeSnackbarStatu', {
                message: this.shoppingCardItem.name + ' ürününden sepetinizde ' + this.shoppingCardItem.amount + ' adet bulunmakta.',
                status: 'warning',
            });
        },
        addItemToBasket() {
            this.$store.dispatch('addItemToBasket', { ...this.item, ...{ amount: 1 } });
            this.$store.dispatch('changeSnackbarStatu', {
                message: this.item.name + ' ürününden sepetinize eklendi.',
                status: 'warning',
            });
        },
    },
};
</script>
<style lang="scss">
.custom-card {
    .v-image {
        height: 200px;
    }
    .v-image__image--contain {
    }
    .custom-button {
        background-color: #ee5a24 !important;
        color: #fff;
    }
}
</style>
