<template>
    <v-row align="center" class="ma-0 pa-0">
        <v-col md="4">
            <v-icon class="custom-icon" small color="red" @click="decrement"> mdi-minus </v-icon>
        </v-col>
        <v-col md="4 pl-0 pr-0">
            <input type="number" min="0" v-model="counter" class="custom-input" v-on:keydown="inputChange" @blur="focusout" />
        </v-col>
        <v-col md="4">
            <v-icon class="custom-icon" small color="green" @click="increment"> mdi-plus </v-icon>
        </v-col>
    </v-row>
</template>
<script>
export default {
    name: 'counter',
    props: {
        data: {
            type: Number,
            default: () => {
                return 0;
            },
        },
    },
    data: () => ({
        counter: 0,
    }),
    watch: {
        data() {
            this.counter = this.data;
        },
    },
    mounted() {
        this.counter = this.data;
    },
    methods: {
        decrement() {
            this.$emit('decrement');
        },
        increment() {
            this.$emit('increment');
        },
        inputChange(e) {
            if (!((e.keyCode > 95 && e.keyCode < 106) || (e.keyCode > 47 && e.keyCode < 58) || e.keyCode == 8)) {
                return false;
            } else {
                if (e.currentTarget.value.trim() != '') {
                    this.$emit('keyup', parseInt(e.currentTarget.value));
                }
            }
        },
        focusout(e) {
            if (e.currentTarget.value.trim() == '') {
                this.$emit('keyup', 0);
            }
        },
    },
};
</script>
<style lang="scss">
.custom-input {
    text-align: center;
    max-width: 100%;
    border: 1px solid #cbcbcb;
    outline: none;
    border-radius: 5px;
    height: 25px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}
</style>
