<template>
    <v-container>
        <v-row no-gutters>
            <v-col xl="6" lg="6" md="6" sm="12" xs="12" class="offset-md-3" v-if="state == 0">
                <card :items="items" :loading="loading"></card>
            </v-col>
            <v-col xl="6" lg="6" md="6" sm="12" xs="12" class="offset-md-3" v-if="state == 0">
                <v-row>
                    <v-col xl="6" lg="6" md="6" sm="12" xs="12">
                        <router-link to="/">
                            <v-btn block :disabled="loading">Devam Et</v-btn>
                        </router-link>
                    </v-col>
                    <v-col xl="6" lg="6" md="6" sm="12" xs="12">
                        <v-btn block @click="submitOrder" :disabled="items.length == 0 || loading"> Tamamla </v-btn>
                    </v-col>
                </v-row>
            </v-col>
            <v-col xl="6" lg="6" md="6" sm="12" xs="12" class="offset-md-3" v-if="state == 1">
                <div class="succes-message">
                    <span>
                        Alışveriş tamamlandı.
                    </span>
                    <router-link to="/">
                        Listeye Dön
                    </router-link>
                </div>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import Card from './../components/basketCard/BasketCard';
export default {
    name: 'basket-page',
    components: {
        Card,
    },
    computed: {
        items() {
            return this.$store.getters.getBasket;
        },
    },
    data: () => ({
        loading: false,
        state: 0,
    }),
    methods: {
        submitOrder() {
            let _self = this;
            _self.loading = true;
            this.$store
                .dispatch('submitBasket', this.items)
                .then(() => {
                    _self.state = 1;
                    _self.$store.dispatch('clearBasket');
                })
                .catch((err) => {
                    _self.loading = false;
                    if (err.response.status == 404) {
                        _self.$store.dispatch('changeSnackbarStatu', {
                            message: 'Dış fırçası stoklarda bulunmamaktadır. Lütfen sepetinizden çıkarın.',
                            status: 'error',
                        });
                    } else {
                        _self.$store.dispatch('changeSnackbarStatu', {
                            message: err.response.data.message,
                            status: 'error',
                        });
                    }
                });
        },
    },
};
</script>
<style lang="scss" scoped>
.succes-message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    border-radius: 5px;
    font-size: 24px;
    background: rgba(0, 128, 0, 0.6);
    color: #fff;
}
a {
    text-decoration: none;
}
</style>
