<template>
    <v-container>
        <v-row>
            <v-col xl="6" lg="6" md="8" sm="10" xs="12">
                <v-text-field label="Arama" placeholder="Ürün ismi giriniz..." outlined append-icon="mdi-search" full-width hide-details v-model="searchText"></v-text-field>
            </v-col>
            <v-col xl="6" lg="6" md="4" sm="2" class="text-right">
                <router-link to="/basket">
                    <badge :count="count"></badge>
                </router-link>
            </v-col>
            <v-col lg="12" md="12" sm="12">
                <list :items="items"></list>
            </v-col>
        </v-row>
    </v-container>
</template>
<script>
import Badge from './../components/badge/Badge';
import List from './../components/list/List';
export default {
    name: 'listing-page',
    components: {
        List,
        Badge,
    },
    data: () => ({
        allItems: [],
        count: 0,
        searchText: '',
    }),
    computed: {
        shoppingCartItemCount() {
            return this.$store.getters.getBasket;
        },
        items() {
            if (this.searchText == '') {
                return this.allItems;
            } else {
                return this.allItems.filter((item) => item.name.toLocaleLowerCase().includes(this.searchText.toLocaleLowerCase()));
            }
        },
    },
    watch: {
        shoppingCartItemCount: function(newValue) {
            this.setCount(newValue);
        },
    },
    mounted() {
        this.getList();
        this.setCount(this.$store.getters.getBasket);
    },
    methods: {
        setCount(arr) {
            this.count = 0;
            arr.forEach((item) => {
                this.count += item.amount;
            });
        },
        getList() {
            let _self = this;
            this.$store
                .dispatch('getList')
                .then((res) => {
                    _self.allItems = res;
                })
                .catch((err) => {
                    console.log(err);
                });
        },
    },
};
</script>
