<template>
    <v-list-item class="custom-shop-card-item">
        <v-list-item-avatar tile>
            <v-img height="250" :src="item.image" contain></v-img>
        </v-list-item-avatar>
        <v-list-item-content>
            <v-list-item-title>
                {{ item.name }}
            </v-list-item-title>
            <v-list-item-subtitle> {{ item.currency }} {{ item.price }} </v-list-item-subtitle>
            <v-container class=" ma-0 pa-0">
                <v-row align="center">
                    <v-col md="7">
                        <counter @decrement="decrement" @increment="increment" :data="item.amount" @keyup="inputChange"></counter>
                    </v-col>
                    <v-col md="5">
                        <v-btn small @click="removeItem">
                            <v-icon color="red" left> mdi-delete</v-icon>
                            SİL
                        </v-btn>
                    </v-col>
                </v-row>
            </v-container>
            <v-divider class="mx-4"></v-divider>
        </v-list-item-content>
    </v-list-item>
</template>
<script>
import Counter from './../counter/Counter';

export default {
    name: 'BasketItem',
    props: ['item'],
    data: () => ({}),
    components: {
        Counter,
    },
    methods: {
        inputChange(data) {
            if (data !== 0) {
                this.$store.dispatch('updateItemInBasket', {
                    id: this.item.id,
                    amount: data,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.item.name + ' ürününden sepetinizde ' + this.item.amount + ' adet kaldı.',
                    status: 'warning',
                });
            } else {
                this.$store.dispatch('removeItemInBasket', {
                    id: this.item.id,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.item.name + ' ürününden sepetinizde çıkarıldı.',
                    status: 'warning',
                });
            }
        },
        decrement() {
            if (this.item.amount - 1 !== 0) {
                this.$store.dispatch('updateItemInBasket', {
                    id: this.item.id,
                    amount: this.item.amount - 1,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.item.name + ' ürününden sepetinizde ' + this.item.amount + ' adet kaldı.',
                    status: 'warning',
                });
            } else {
                this.$store.dispatch('removeItemInBasket', {
                    id: this.item.id,
                });
                this.$store.dispatch('changeSnackbarStatu', {
                    message: this.item.name + ' ürününden sepetinizde çıkarıldı.',
                    status: 'warning',
                });
            }
        },
        removeItem() {
            this.$store.dispatch('removeItemInBasket', {
                id: this.item.id,
            });
            this.$store.dispatch('changeSnackbarStatu', {
                message: this.item.name + ' ürününden sepetinizde çıkarıldı.',
                status: 'warning',
            });
        },
        increment() {
            this.$store.dispatch('updateItemInBasket', {
                id: this.item.id,
                amount: this.item.amount + 1,
            });
            this.$store.dispatch('changeSnackbarStatu', {
                message: this.item.name + ' ürününden sepetinizde ' + this.item.amount + ' adet bulunmakta.',
                status: 'warning',
            });
        },
    },
};
</script>
<style lang="scss">
.custom-shop-card-item {
    .v-avatar {
        width: 150px !important;
        height: 150px !important;
    }
}
</style>
