<template>
    <v-snackbar
        v-model="snackbar"
        :bottom="y === 'bottom'"
        :left="x === 'left'"
        :multi-line="mode === 'multi-line'"
        :right="x === 'right'"
        :timeout="timeout"
        :top="y === 'top'"
        :vertical="mode === 'vertical'"
        :color="color"
    >
        {{ text }}
        <v-btn color="" @click="snackbar = false" icon>
            <v-icon>mdi mdi-close</v-icon>
        </v-btn>
    </v-snackbar>
</template>
<script>
export default {
    props: {
        y: {
            type: String,
            default: () => {
                return 'top';
            },
        },
        x: {
            type: String,
            default: () => {
                return 'right';
            },
        },
        timeout: {
            type: Number,
            default: () => {
                return 3000;
            },
        },
        mode: {
            type: String,
            default: () => {
                return 'multi-line';
            },
        },
    },
    computed: {
        snackbarStatu() {
            return this.$store.getters.snackbarStatu;
        },
    },
    watch: {
        snackbarStatu(newValue, oldValue) {
            if (newValue != null) {
                this.text = newValue.message;
                this.color = newValue.status;
                this.snackbar = true;
            }
        },
    },
    data() {
        return {
            text: '',
            color: '',
            snackbar: false,
        };
    },
    methods: {
        show() {
            this.snackbar = true;
        },
    },
};
</script>
