<template>
    <v-app>
        <snack-bar></snack-bar>
        <router-view></router-view>
    </v-app>
</template>
<script>
import SnackBar from './../components/snackBar/SnackBar';
export default {
    name: 'default-layout',
    components: {
        SnackBar,
    },
};
</script>
